html,body {
  height: 100%!important;
  margin: 0px!important;
}
body{

}
body{
  font-size: 14px;
}
h1,h2,h3,h4,h5,h6 {margin: 0;padding: 0;font-weight: normal;}

input, button, select, textarea {outline: none;}

.fixed{position: fixed;}
.rel{position: relative;}
.abs{position: absolute;}
.sticky{position: sticky;}

.flex{display: flex;}
.none{display: none;}

.aic{align-items: center;}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.font{
  font-family: 'Open Sans' , sans-serif;
  font-weight: normal;
}
.font1{
  font-family: 'Open Sans' , sans-serif;
  font-weight: 300;
}
.fontb{
  font-family: 'Open Sans' , sans-serif;
  font-weight: 700;
}
.b{font-weight: bold;}

.s12{font-size: 12px;}
.s13{font-size: 13px;}
.s14{font-size: 14px;}
.s15{font-size: 15px;}
.s16{font-size: 16px;}
.s18{font-size: 18px;}
.s20{font-size: 20px;}
.s22{font-size: 22px;}
.s24{font-size: 24px;}
.s30{font-size: 30px;}

.cfff{color: #cfff;}

.color{color: #002f34;}

.white{color: white;}

.noul{text-decoration: none;}
.noulh:hover{text-decoration: none;}

.p{cursor: pointer;}
#root {
  /* display: flex; */
  height: 100%!important;
  background: rgb(76,128,228);
  background: -moz-radial-gradient(circle, rgba(76,128,228,1) 0%, rgba(89,80,244,1) 0%, rgba(47,103,233,1) 0%, rgba(0,212,255,1) 68%, rgba(6,199,252,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(76,128,228,1) 0%, rgba(89,80,244,1) 0%, rgba(47,103,233,1) 0%, rgba(0,212,255,1) 68%, rgba(6,199,252,1) 100%);
  background: radial-gradient(circle, rgba(76,128,228,1) 0%, rgba(89,80,244,1) 0%, rgba(47,103,233,1) 0%, rgba(0,212,255,1) 68%, rgba(6,199,252,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4c80e4",endColorstr="#06c7fc",GradientType=1); display: grid;
  place-items: center;
}
.main{
  /* margin: 100px; */
  height: 95vh;
  width: 95vw;
  min-width: 450px;
  min-height: 550px;
  /* background-color: burlywood; */
  border-radius: 25px;
  padding: 20px;
  /* align-content: center; */
}